<h1 text-center text-capitalize class="form-va">
  Sign in!
</h1>

<ion-row>
  <ion-col>
    <ion-list>
      <form novalidate [formGroup]="signInForm">

        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input type="text" formControlName="Email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Reenter Password</ion-label>
          <ion-input type="password" formControlName="ConfirmPassword"></ion-input>
        </ion-item>

        <div class="form-validation-message" *ngIf="signInForm.controls.Password.touched && signInForm.controls.ConfirmPassword.dirty && signInForm.hasError('mismatchedPasswords')" text-end>Passwords mismatch.</div>

      </form>
    </ion-list>
  </ion-col>
</ion-row>
<button class="ion-button" (click)="signIn()">test</button>
